/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */



/* ===== BASE STYLES ===== */

/*
  Setting type to a " " modular scale
  http://www.modularscale.com/
*/

html {
  font-size: ;
  line-height: ; /* = 1 gridline*/
  background-color: ;
  color: ;
 
}

h1 {
  font-size: ; 
  line-height: ; 
}


p {
  padding-top: ; 
  padding-bottom: ;
}

li {
  padding-left: ; 
  padding-bottom: ; 
}

ul {
  padding-left: ; 
  padding-bottom: ; 
}

li:last-child {
  padding-bottom: ;
}

img,
video {
  display: block;
  max-width: 30%;
}

/* ===== LAYOUT STYLES ===== */

#page {
  padding-top: ;
  padding-left: ;
  padding-right: ;
}


/* Navigation */

nav {
  position: ;
  width: ;
  top: ;
  left: ;
  display: ;
}

nav {
  font-weight: ;
}

.nav {
  margin-left: ;
  padding-bottom: ;
}

.nav li {
  display: inline-block;
  float: ;
  width: ;
  list-style-type: ;
  padding-bottom: ;
}

.nav a {
  display: ;
  text-align: ;
  line-height: ;
  padding: /*0.6315789474em 0.3157894737em; /* ~ 12px 6px @ 19px/em */
  background-color: ;
  color:;
  border-bottom: ;
}

/* ===== MODULAR STYLES ===== */

ul {
  list-style-type: ;
}

 li {
  list-style-type: ;
}

.nav ul li a {
  text-decoration: ;
}

/* ===== STATE STYLES ===== */

@media screen and (min-width: ) {

}


