/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */



/* ===== BASE STYLES ===== */

/*
  Setting type to a "1.2" modular scale
  http://www.modularscale.com/?18&px&1.2&web&text
*/

html {
  font-family: "Georgia", Monaco, sans-serif;
  font-size: 18px;
  line-height: 22px; /* 120% of the font-size*/
  background-color: #9fdfff;
  color: #222; /*#ffffff;*/
 
}

h1 {
  font-size: 31.984px; 
  line-height: ; 
}


p {
  padding-top: 18px; 
  padding-bottom: 18px ;
}

li {
  padding-left: ; 
  padding-bottom: ; 
}

ul {
  padding-left: ; 
  padding-bottom: ; 
}

li:last-child {
  padding-bottom: ;
}

img {
  display: block;
  max-width: 40%;
}

nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* ===== LAYOUT STYLES ===== */

#page {
  padding-top: 18px; /*line height*/
  padding-left: 11px;
  padding-right: 11px; /*half of line height*/
}

img {
  padding-top: 18px;
  margin-left: auto;
  margin-right: auto; 
}

figcaption {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* ===== MODULAR STYLES ===== */

ul {
  list-style-type: ;
}

 li {
  list-style-type: ;
}

.navigation ul li {
  float: left;
  padding: 1.222em;
  padding-left: 0.917em;
  border-bottom: 0;
  font-size: 0.741em; /*13.333px/18px*/
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

.navigation ul li a {
  display: block;
  text-decoration: none;
  color: #222;
  
}
.navigation ul li:first-child {
  margin-left: 0;
}

.navigation ul li a:hover {
  text-decoration: underline;
}
/* ===== STATE STYLES ===== */

/* 768px @ 16px for tablet/ipad scale */
@media screen and (min-width: 48em) {
  html {
    font-size: 1.44em; /*23.04px @ 16px*/
    line-height: 1.2em; /*27.648px @ 23.04px*/
  }

  .navigation ul li {
    font-size: 1em; /*16px*/
  }


